<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width" />
   
    <title> Miliz </title>
    <link href="~/Content/cssx/reset.css" rel="stylesheet" />
    <link href="~/Content/cssx/reporter.css" rel="stylesheet" />
    <link href="~/Content/cssx/layout.css" rel="stylesheet" />
    <link href="~/Content/cssx/Tstyle.css" rel="stylesheet" />
    <link href="~/Content/cssx/tablestyle.css" rel="stylesheet" />
    @*<link href="~/Content/PagedList.css" rel="stylesheet" />*@
    <link href="~/Content/cssx/print.css" rel="stylesheet" media="print" />
    <script src="~/Scripts/jss/1_jquery-1.js"></script>
    <script src="~/Scripts/jss/canvas-to-blob.js"></script>
    <script src="~/Scripts/jss/jquery-ui-1.js"></script>
    <script src="~/Scripts/jss/jquery.js"></script>
    <script src="~/Scripts/jss/jquery_002.js"></script>
    <script src="~/Scripts/jss/jquery_003.js"></script>
    <script src="~/Scripts/jss/jquery_004.js"></script>
    <script src="~/Scripts/jss/jquery_005.js"></script>
    <script src="~/Scripts/jss/jquery_006.js"></script>
    <script src="~/Scripts/jss/jquery_007.js"></script>
    <script src="~/Scripts/jss/jquery_008.js"></script>
    <script src="~/Scripts/jss/jquery_009.js"></script>
    <script src="~/Scripts/jss/load-image.js"></script>

</head>
<body>
    <!-- Wrapper container -->
    <div id="wrapper">
        @RenderBody()
    </div>
    <!-- End of wrapper container -->
    <!--Site Footer -->
    <footer class="clearFix text-White transImageBgBlack">
      
        <div class=""><h5>VIZION &copy; 2015</h5></div>
    </footer>
</body>
</html>


